<div class="game">
  <div
    *ngFor="let line of field; let i = index"
  >
    <div
      class="box"
      *ngFor="let box of line, let j = index"
      [ngClass]="{'snake': hasSnake(i, j)}">
    </div>
  </div>
</div>

<button
  mat-flat-button
  color="primary"
>Начать игру
</button>

<div class="message">Вы проиграли</div>
