$field-size: 500px;
$count-box: 10;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(227,227,227,0.9);
  align-items: center;
  justify-content: center;
}

.game {
  background-color: #2838af;
  width: $field-size;
  height: $field-size;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: ($field-size/$count-box);
  width: ($field-size/$count-box);
  float: left;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
}

.snake {
  background-color: aliceblue;
}
